<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech-Blog</title>
</head>
<body>
  <header>
    <h1>Let's Get Bloggy!</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/api/dashboard">Dashboard</a>
      {{#if loggedIn}}
      <a id="logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      {{/if}}
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <h5>Ribbit, Ribbit</h5>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  {{!-- <script src="js/script.js"></script> --}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>