<section>
  <form id="login">
    <label for="username">Username:</label><br>
    <input type="text" id="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password"><br><br>
    <input type="submit" value="Login">
  </form>
</section>

<script src="/js/login.js"></script>